<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h1 class="page-header">Settings</h1>

    <div class="panel panel-default">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            Panel content
            <p>
                <button type="button" class="btn btn-primary btn-xs pull-right">more -></button>
            </p>
        </div>
    </div>

    <hr />

    <div class="panel panel-default">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            Panel content
            <p>
                <button type="button" class="btn btn-primary btn-xs pull-right">more -></button>
            </p>
        </div>
    </div>

    <hr />

    <div class="panel panel-default">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            Panel content
            <p>
                <button type="button" class="btn btn-primary btn-xs pull-right">more -></button>
            </p>
        </div>
    </div>

    <hr />

    <div class="panel panel-default">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            Panel content
            <p>
                <button type="button" class="btn btn-primary btn-xs pull-right">more -></button>
            </p>
        </div>
    </div>

    <hr />

    <div class="panel panel-default">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            Panel content
            <p>
                <button type="button" class="btn btn-primary btn-xs pull-right">more -></button>
            </p>
        </div>
    </div>

    <hr />

    <div class="panel panel-default">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            Panel content
            <p>
                <button type="button" class="btn btn-primary btn-xs pull-right">more -></button>
            </p>
        </div>
    </div>
</div>