{# extend pages skeleton #}
{% extends 'page.html' %}

{% block title %}sittings page{% endblock %}

{% block header %}
    {% include 'common/header.html' %}
{% endblock %}

{% block content %}
    {% include 'common/top-nav.html' with {'settings': 'active'} %}
    <div class="container-fluid">
        <div class="row">
            {% include 'common/side-bar.html' %}
            {% include 'settings/content.html' %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'common/footer.html' %}
{% endblock %}
